---
import CardMedia from "../components/CardMedia.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<MainLayout title={SITE_TITLE}>
  <main>
    <CardMedia />

  </main>
</MainLayout>
