<section class="dark:bg-gray-900 bg-slate-50 dark:text-gray-50 text-gray-700 py-8 lg:pb-28">


<div class="w-full max-w-7xl my-4 mx-auto p-2">

    <div class="border-2 border-cyan-500 px-10 py-20 rounded-lg text-center dark:bg-gray-900 bg-gray-100 shadow-md ">
        <h2 class="lg:text-5xl text-3xl font-bold mb-4 max-w-xl mx-auto tracking-tighter leading-normal">Hubungkan WhatsApp ke Dripsender</h2>

        <p class="text-lg mb-4 text-gray-500 dark:text-cyan-400">
            Anda bisa mulai mengelola <strong> WhatsApp marketing autopilot</strong>.
            
        </p>

        <div class="">
            <a
              href="/pricing"
              class="max-w-md mx-auto flex items-center justify-center px-5 py-3 border border-transparent text-2xl font-medium rounded-md text-white bg-cyan-500 hover:bg-cyan-600 "
            >
              Free Signup
            </a>
          </div>

        <p class="text-sm mt-2 py-2 text-gray-500 dark:text-cyan-100">
            Langsung Pakai tanpa harus download atau install

        </p>
    </div>

</div></section>