
<section class="dark:bg-gray-800 bg-slate-100 py-16 w-full mx-auto">
    <div class="items-center px-5 py-10 mx-auto max-w-7xl">
      <div>
            <h2 class="text-3xl font-extrabold dark:text-gray-50 text-gray-700 tracking-tighter text-center lg:text-6xl">Short Description</h2>
            <p class="mt-4 max-w-2xl text-xl dark:text-gray-50 text-gray-700 text-center mx-auto">Pertanyaan yang sering ditanyakan</p>
          
      </div>
      <div class="w-full mx-auto mt-12 text-left">
        <div class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
          <div class="p-4 mx-auto lg:max-w-7xl lg:p-0">
            <ul role="list" class="grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:gap-12">
              <li>
                <div>
                  <p class="mt-5 text-xl font-bold leading-6 dark:text-gray-50 text-gray-700">
                    Aplikasi apakah Dripsender?
                  </p>
                </div>
                <div class="mt-2 text-base dark:text-gray-50 text-gray-700">
                    Dripsender merupakan tools Whatsapp marketing yang memiliki sejumlah fitur yang sangat dibutuhkan oleh pebisnis online yang menggunakan Whatsapp sebagai alat promosi atau proses marketing
                </div>
              </li>
              <li>
                <div>
                  <p class="mt-5 text-xl font-bold leading-6 dark:text-gray-50 text-gray-700">
                    Fitur yang dimiliki Dripsender?
                  </p>
                </div>
                <div class="mt-2 text-base dark:text-gray-50 text-gray-700">
                    Beberapa fitur Dripsender diantaranya : grabbing data, list building system, botform, broadcast terjadwal, chatbot dan banyak lagi yang lain. Tentunya sangat bermanfaat untuk para digital marketer
                </li>
              <li>
                <div>
                  <p class="mt-5 text-xl font-bold leading-6 dark:text-gray-50 text-gray-700">
                    Jaminan No. Whatsapp tidak diblokir?
                </p>
                </div>
                <div class="mt-2 text-base dark:text-gray-50 text-gray-700">
                    Dripsender diciptakan dengan berbagai fitur yang bisa meminimalisir pemblokiran no Whatsapp Tapi, perlu diketahui bahwa tidak ada tools Whatsapp manapun yang bisa menjamin bahwa no Whatsapp kita bebas dari pemblokiran, karena pemegang kendali pada setiap no Whatsapp adalah pihak Whatsapp sendiri
                </div>
              </li>
              <li>
                <div>
                  <p class="mt-5 text-xl font-bold leading-6 dark:text-gray-50 text-gray-700">
                    Ada Biaya Bulanan/Tahunan?
                </p>
                </div>
                <div class="mt-2 text-base dark:text-gray-50 text-gray-700">
                    Iya. Bisa bulanan atau tahunan, biaya perpanjangan ini untuk menjamin agar layanan Dripsender bisa terus dinikmati dan update jika diperlukan
                </div>
              </li>
              <li>
                <div>
                  <p class="mt-5 text-xl font-bold leading-6 dark:text-gray-50 text-gray-700">
                    Perlu Diinstall di Komputer/Laptop??
                  </p>
                </div>
                <div class="mt-2 text-base dark:text-gray-50 text-gray-700">
                    Tidak perlu. Dripsender berbasis web-based, yang artinya tidak memerlukan penginstalan komputer/laptop. Hanya membutuhkan browser dan juga internet untuk mengaksesnya​                </div>
              </li>
              <li>
                <div>
                  <p class="mt-5 text-xl font-bold leading-6 dark:text-gray-50 text-gray-700">
                    Dripsender cocok untuk pemula?
                  </p>
                </div>
                <div class="mt-2 text-base dark:text-gray-50 text-gray-700">
                    Ya, siapapun yang bisa mengoperasikan komputer / laptop / handphone maka akan bisa menggunakan Dripsender. Kami menyediakan grup support dan video tutorial penggunaannya.                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>            