---
const today = new Date();
---

<section class="w-full mx-auto p-0 bg-slate-100 dark:bg-gray-900 pt-2 border-t dark:border-t-gray-800">
  <footer class="max-w-7xl mx-auto text-gray-800 dark:text-white">
    <p class="text-xs">Dripsender is in no way affiliated with WhatsApp. Use at your own discretion. Do not spam people with this
    </p><hr class="h-px my-2 max-w-md mx-auto bg-gray-200 border-0 dark:bg-gray-700">

     PT. Drip Rintisan Inovasi Perkasa 
  </footer>
</section>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>

<!-- &copy; {today.getFullYear()} -->