---
const today = new Date();
---

<section class="w-full mx-auto p-0 bg-slate-50 dark:bg-slate-900">
  <footer class="max-w-7xl mx-auto text-gray-800 dark:text-white">
    &copy; {today.getFullYear()} YOUR NAME HERE. All rights reserved.
  </footer>
</section>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
