<section class="dark:bg-gray-900 bg-slate-50 dark:text-gray-50 text-gray-700 py-8 lg:py-20">

<div class="container mx-auto max-w-7xl p-4 lg:p-0">
  <h2 class="text-3xl font-extrabold dark:text-gray-50 text-gray-700 tracking-tighter text-center lg:text-5xl">User Review</h2>
  <p class="mt-4 max-w-2xl text-xl dark:text-gray-50 text-gray-700 text-center mx-auto">Simak apa yang mereka katakan tentang Dripsender</p>
    <div class="md:columns-2 lg:columns-3 gap-6 p-4 sm:p-1 mt-10">

        
        <div class="animate-in zoom-in duration-200">
            <div
                class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white dark:bg-gray-800 hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                <div class="flex flex-col break-inside-avoid-page z-0 relative">
                    <div class="flex justify-between">
                        <div class="flex space-x-6">
                            <div class="flex space-x-4 flex-shrink-0 w-52">
                                <img src="https://randomuser.me/api/portraits/men/51.jpg"
                                    class="w-10 h-10 rounded-full">
                                <div>
                                    <div class="font-semibold">
                                        Bapak Rowi
                                    </div>
                                    <div class="text-sm">
                                        @Salvador
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                      Menurut saya hanya dan baru Tools WA Dripsender ini yang saya temukan yang baru benar-benar mengelola dengan baik sistemnya dan juga mau membantu mendengar kesulitan usernya.
                    </a>
                </div>
            </div>
        </div>



        <div class="animate-in zoom-in duration-200">
            <div
                class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white dark:bg-gray-800 hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                <div class="flex flex-col break-inside-avoid-page z-0 relative">
                    <div class="flex justify-between">
                        <div class="flex space-x-6">
                            <div class="flex space-x-4 flex-shrink-0 w-52">
                                <img src="https://randomuser.me/api/portraits/men/34.jpg"
                                    class="w-10 h-10 rounded-full">
                                <div>
                                    <div class="font-semibold">
                                        Rizki Azhari
                                    </div>
                                    <div class="text-sm">
                                        @John
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="@" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                        <span>Saya dulu sempat ragu karena kok mahal banget! Begitu saya coba Alhamdulillah langsung berani ambil paket 600k setahun. Dan Alhamdulillah semua itu jadi bagian dari investasi</span>
                    </a>
                </div>
            </div>
        </div>



        <div class="animate-in zoom-in duration-200">
            <div
                class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white dark:bg-gray-800 hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                <div class="flex flex-col break-inside-avoid-page z-0 relative">
                    <div class="flex justify-between">
                        <div class="flex space-x-6">
                            <div class="flex space-x-4 flex-shrink-0 w-52">
                                <img src="https://randomuser.me/api/portraits/men/78.jpg"
                                    class="w-10 h-10 rounded-full">
                                <div>
                                    <div class="font-semibold">
                                        Mike tyson
                                    </div>
                                    <div class="text-sm">
                                        @mike
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </span>
                    </a>
                </div>
            </div>
        </div>



        <div class="animate-in zoom-in duration-200">
            <div
                class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white dark:bg-gray-800 hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                <div class="flex flex-col break-inside-avoid-page z-0 relative">
                    <div class="flex justify-between">
                        <div class="flex space-x-6">
                            <div class="flex space-x-4 flex-shrink-0 w-52">
                                <img src="https://randomuser.me/api/portraits/women/51.jpg"
                                    class="w-10 h-10 rounded-full">
                                <div>
                                    <div class="font-semibold">
                                        Sia
                                    </div>
                                    <div class="text-sm">
                                        @Sia
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </span>
                    </a>
                </div>
            </div>
        </div>




        <div class="animate-in zoom-in duration-200">
            <div
                class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white dark:bg-gray-800 hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                <div class="flex flex-col break-inside-avoid-page z-0 relative">
                    <div class="flex justify-between">
                        <div class="flex space-x-6">
                            <div class="flex space-x-4 flex-shrink-0 w-52">
                                <img src="https://randomuser.me/api/portraits/men/34.jpg"
                                    class="w-10 h-10 rounded-full">
                                <div>
                                    <div class="font-semibold">
                                        Cheung
                                    </div>
                                    <div class="text-sm">
                                        @Cheung
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                        <span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </span>
                    </a>
                </div>
            </div>
        </div>




        <div class="animate-in zoom-in duration-200">
            <div
                class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white dark:bg-gray-800 hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                <div class="flex flex-col break-inside-avoid-page z-0 relative">
                    <div class="flex justify-between">
                        <div class="flex space-x-6">
                            <div class="flex space-x-4 flex-shrink-0 w-52">
                                <img src="https://randomuser.me/api/portraits/women/8.jpg"
                                    class="w-10 h-10 rounded-full">
                                <div>
                                    <div class="font-semibold">
                                        Kendra
                                    </div>
                                    <div class="text-sm">
                                        @Kendra
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                        <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </span>
                    </a>
                </div>
            </div>
        </div>





        <div class="animate-in zoom-in duration-200">
            <div
                class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white dark:bg-gray-800 hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                <div class="flex flex-col break-inside-avoid-page z-0 relative">
                    <div class="flex justify-between">
                        <div class="flex space-x-6">
                            <div class="flex space-x-4 flex-shrink-0 w-52">
                                <img src="https://randomuser.me/api/portraits/men/5.jpg"
                                    class="w-10 h-10 rounded-full">
                                <div>
                                    <div class="font-semibold">
                                        King
                                    </div>
                                    <div class="text-sm">
                                        @king
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                        <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </span>
                    </a>
                </div>
            </div>
        </div>




        <div class="animate-in zoom-in duration-200">
            <div
                class="ring-1 rounded-lg flex flex-col space-y-2 p-4 break-inside-avoid mb-6 bg-white dark:bg-gray-800 hover:ring-2 ring-gray-300 hover:ring-sky-400 transform duration-200 hover:shadow-sky-200 hover:shadow-md z-0 relative">
                <div class="flex flex-col break-inside-avoid-page z-0 relative">
                    <div class="flex justify-between">
                        <div class="flex space-x-6">
                            <div class="flex space-x-4 flex-shrink-0 w-52">
                                <img src="https://randomuser.me/api/portraits/men/50.jpg"
                                    class="w-10 h-10 rounded-full">
                                <div>
                                    <div class="font-semibold">
                                        Yoda
                                    </div>
                                    <div class="text-sm">
                                        @yoda
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#" target="_blank" class="whitespace-pre-line break-inside-avoid-page">
                        <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<section/>

<!-- <div class="w-full mx-auto items-center ">
<button id="toggle-btn" class="mt-4 text-blue-500 focus:outline-none">Read More</button>
<button id="hide-btn" class="hidden mt-4 text-blue-500 focus:outline-none">Hide</button>
</div>

<script>
    const moreTextEl = document.getElementById('more-text');
    const toggleBtnEl = document.getElementById('toggle-btn');
    const hideBtnEl = document.getElementById('hide-btn');

    toggleBtnEl!.addEventListener('click', () => {
        moreTextEl!.classList.toggle('hidden');
        toggleBtnEl!.classList.toggle('hidden');
        hideBtnEl!.classList.toggle('hidden');
    });

    hideBtnEl!.addEventListener('click', () => {
        moreTextEl!.classList.toggle('hidden');
        toggleBtnEl!.classList.toggle('hidden');
        hideBtnEl!.classList.toggle('hidden');
    });
</script> -->