<section class="dark:bg-gray-900 bg-slate-50 dark:text-gray-50 text-gray-700">
  <div class="mx-auto max-w-7xl px-4 lg:px-0 py-8 lg:py-4">
   

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <a
        class="block rounded-xl border-2 border-cyan-800 p-8 shadow-xl transition hover:border-cyan-500/10 hover:shadow-cyan-500/10 bg-white dark:bg-transparent"
        href="/services/digital-campaigns"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-cyan-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
          ></path>
        </svg>

        <h2 class="mt-4 text-xl font-bold dark:text-gray-50 text-gray-700">Olshop Seller</h2>

        <p class="mt-1 dark:text-gray-50 text-gray-700">Yang ingin meningkatkan omset dengan menjangkau customer lebih luas lagi</p>
      </a>

      <a
        class="block rounded-xl border-2 border-cyan-800 p-8 shadow-xl transition hover:border-cyan-500/10 hover:shadow-cyan-500/10 bg-white dark:bg-transparent"
        href="/services/digital-campaigns"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-cyan-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
          ></path>
        </svg>

        <h2 class="mt-4 text-xl font-bold dark:text-gray-50 text-gray-700">Digital Marketer</h2>

        <p class="mt-1 dark:text-gray-50 text-gray-700">Yang ingin merancang strategi WhatsApp marketing lebih optimal</p>
      </a>

      <a
        class="block rounded-xl border-2 border-cyan-800 p-8 shadow-xl transition hover:border-cyan-500/10 hover:shadow-cyan-500/10 bg-white dark:bg-transparent"
        href="/services/digital-campaigns"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-cyan-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
          ></path>
        </svg>

        <h2 class="mt-4 text-xl font-bold dark:text-gray-50 text-gray-700">Bisnis & Brand Owner</h2>

        <p class="mt-1 dark:text-gray-50 text-gray-700">Yang ingin scale up omset dan profit bisnisnya</p>
      </a>

      <a
        class="block rounded-xl border-2 border-cyan-800 p-8 shadow-xl transition hover:border-cyan-500/10 hover:shadow-cyan-500/10 bg-white dark:bg-transparent"
        href="/services/digital-campaigns"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-cyan-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
          ></path>
        </svg>

        <h2 class="mt-4 text-xl font-bold dark:text-gray-50 text-gray-700">Affiliate</h2>

        <p class="mt-1 dark:text-gray-50 text-gray-700">Untuk memasarkan berbagai produk jualan, baik produk digital atau fisik</p>
      </a>

      <a
        class="block rounded-xl border-2 border-cyan-800 p-8 shadow-xl transition hover:border-cyan-500/10 hover:shadow-cyan-500/10 bg-white dark:bg-transparent"
        href="/services/digital-campaigns"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-cyan-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
          ></path>
        </svg>

        <h2 class="mt-4 text-xl font-bold dark:text-gray-50 text-gray-700">Entrepreneurs</h2>

        <p class="mt-1 dark:text-gray-50 text-gray-700">Yang ingin go digital dan mengoptimasi pemasaran dengan media online</p>
      </a>

      <a
        class="block rounded-xl border-2 border-cyan-800 p-8 shadow-xl transition hover:border-cyan-500/10 hover:shadow-cyan-500/10 bg-white dark:bg-transparent"
        href="/services/digital-campaigns"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-cyan-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
          <path
            d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
          ></path>
        </svg>

        <h2 class="mt-4 text-xl font-bold dark:text-gray-50 text-gray-700">Socmed Marketers</h2>

        <p class="mt-1 dark:text-gray-50 text-gray-700">Yang ingin mendapatkan customer dengan dengan free traffic</p>
      </a>
    </div>
  </div>
</section>
